export const environment = {
  production: true,
  tenantId: 'YOUR_TENANT_ID',
  frontendClientId: 'YOUR_FRONTEND_CLIENT_ID',
  backendApiClientId: 'YOUR_BACKEND_API_CLIENT_ID',
  backendApiIdentifierUri: 'api://backend-api-<suffix>',
  backendApiUrl: 'https://app-backend-mcpstock-<suffix>.azurewebsites.net',
  redirectUri: 'https://<static-web-app-url>/',
};
